<!DOCTYPE html>
<html>
    <head>
        <title>Carnarsie Eats</title>
          <!-- Compiled and minified CSS -->
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link rel="stylesheet" href="css/style.css"> 
          <!-- Compiled and minified JavaScript -->
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>
          <script src="https://www.gstatic.com/firebasejs/4.1.5/firebase.js"></script>
            <script>
              // Initialize Firebase
              var config = {
                apiKey: "AIzaSyDoiinWG-FfUldXtZ8BfDejwE0ZHnAEq1c",
                authDomain: "b-web-54c62.firebaseapp.com",
                databaseURL: "https://b-web-54c62.firebaseio.com",
                projectId: "b-web-54c62",
                storageBucket: "b-web-54c62.appspot.com",
                messagingSenderId: "107561683815"
              };
              firebase.initializeApp(config);
            </script>
    </head>
    
    <body onload="window.resizeTo(700,700)">
      <div id='container'>
        <header>
            <!-- Dropdown Structure -->
            <ul id="dropdown1" class="dropdown-content center">
              <li><a href="#!" id ="Vegetarian-Recipes">Vegetarian Recipes</a></li>
              <li><a href="#!" id ="Special-Allergy-Recipes">Diabetic Recipes</a></li>
              <li><a href="#!" id ="Large-family-Recipes">High Cholesterol Recipes</a></li>
            </ul>
            <!--Navbar-->
            <nav>
              <nav>
              <div class="nav-wrapper">
                <img src="images/Logo.png" id= logo>
                <ul class="hide-on-med-and-down">
                  <div id="terms" >
                  <div class="nav-wrapper">
                  <li><a href="our-story.html" id = "ourStory">Our Story </a></li>
                  <li><a href="pricing.html" id = "pricing">Pricing</a></li>
                  <li><a href="contact-us.html" id = "contactUs">Contact Us</a></li>
                  <!-- Dropdown Trigger -->
                  <li><a class="dropdown-button" href="#!" data-activates="dropdown1" id = "recipes">Recipes<i class="material-icons right">arrow_drop_down</i></a></li>
                </ul>
                </div>
              </div>
              </nav>
            </nav>
        </header>
        
        <main>
            
          <!-- Carousel-->
            <div style= "min-height: 400px" class="carousel">
             <div class="carousel carousel-slider">
                <a class="carousel-item" href="#!"><img src="https://lorempixel.com/800/400/food/1"></a>
                <a class="carousel-item" href="#!"><img src="https://lorempixel.com/800/400/food/2"></a>
                <a class="carousel-item" href="#!"><img src="https://lorempixel.com/800/400/food/3"></a>
                <a class="carousel-item" href="#!"><img src="https://lorempixel.com/800/400/food/4"></a>
              </div>
            </div>
            <div id = "motto">
                <p class="white-text">"Heathy Eating Isn't Just Salads And Sandwiches"</p>
              </div>
            
          <!-- Buttons -->
            <div>
                <button onclick= {goToPlans()} id= plans>
                      Plans
                </button>
            </div>
            <div>
                <button onclick= {SignInWithGoogle()} id = signInButton>
                    Google Log In
                </button>
            </div>
            <div>
                <button onclick= {SignIn()} id = signInButton2>
                     Log In
                </button>
            </div>

            
          <!-- Featured Recipes -->
            <div id= featured>
              <h4>Featured Recipes</h4>
              
              <!-- Cards -->
              <div class = container>
              <div class = row>
              <div class="col xs3 s3 m3 l3 xl3">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/1.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Jerk Pork with White Rice and Sauteed Vegetables<i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Jerk Pork with White Rice and Sauteed Vegetables<i class="material-icons right">close</i></span>
                  <p>This spin on a popular and well loved Jamaican dish will excite your tastebuds with bursting jerk seasonings, well cooked, nutritious vegetables and white rice. </p>
                </div>
                </div>
              </div>
              
              <div class="col xs3 s3 m3 l3 xl3">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/2.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Jerk Chicken with Spinach Rice and Plantains<i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Jerk Chicken with Spinach Rice and Plantains<i class="material-icons right">close</i></span>
                  <p>This meal brings together the flavors of Jamaican favorite, jerk chicken and crisp, ripe plantains along with the healthy rice alternative, spinach rice; bringing you healthy food with island flavor.  </p>
                </div>
                </div>
              </div>
              
              
              <div class="col xs3 s3 m3 l3 xl3">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/3.png">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Black rice with pork and plantains<i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4"> Black rice w/ pork and plantains<i class="material-icons right">close</i></span>
                  <p>Giving you a taste of Haitian cuisine, Diri Jon Jon, a.k.a. Black rice is paired with pork and ripe flavorful plantains. Bon Appetit!</p>
                </div>
                </div>
              </div>

              
              <div class="col xs3 s3 m3 l3 xl3">
              <div class="card small">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/IMG_0892.JPG">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Escovitch Chicken w/ white rice and scotch bonnet peppers<i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Escovitch Chicken w/ white rice and scotch bonnet peppers<i class="material-icons right">close</i></span>
                  <p>Packing in a punch of spice, this flavorful meal features a Jamaican favorite, scotch bonnet peppers and takes a spin on Escovitch Fish! New protein, same spicy flavor.</p>
                </div>
                </div>
              </div>
              </div>
            </div>
            
            <div class= container>
              <div class= row>
                
                <div class="col xs4 s4 m4 l4 xl4">
                <div class="card medium">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img class="activator" src="images/IMG_0884.JPG">
                  </div>
                  <div class="card-content">
                    <span class="card-title activator grey-text text-darken-4" id = "card-title">General Tso Chicken<i class="material-icons right">more_vert</i></span>
                    
                  </div>
                  <div class="card-reveal">
                    <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                    <p>Here is some more information about this product that is only revealed once clicked on.</p>
                  </div>
                  </div>
                </div>

              <div class="col xs4 s4 m4 l4 xl4">
              <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/IMG_0885.JPG">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Vegetable Lo Mein<i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                </div>
              </div>
              
            <div class="col xs4 s4 m4 l4 xl4">
              <div class="card medium">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/IMG_0886.JPG">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Pork Fried Rice<i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                </div>
              </div>
              </div>
            </div>
            
            <div class= container>
              <div class= row>
                
                <div class="col xs6 s6 m6 l6 xl6">
              <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/IMG_0887.JPG">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Fresh Mozzarella pizza<i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                </div>
              </div>
                
                <div class="col xs6 s6 m6 l6 xl6">
              <div class="card large">
                <div class="card-image waves-effect waves-block waves-light">
                  <img class="activator" src="images/IMG_0888.JPG">
                </div>
                <div class="card-content">
                  <span class="card-title activator grey-text text-darken-4" id = "card-title">Lamb with Mashed Potatoes <i class="material-icons right">more_vert</i></span>
                  
                </div>
                <div class="card-reveal">
                  <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
                  <p>Here is some more information about this product that is only revealed once clicked on.</p>
                </div>
                </div>
              </div>
              </div>
            </div>
            </div>
            
            <script>
                  window.onload = myFunction()

                  function myFunction() {
                      alert("Please make sure webpage is at least 1280x800 (fullscreen) for best viewing experience. Thank You :)");
                    }  
            </script>
        </main>
        
        <!--Footer-->
        <footer class="page-footer">
            <div class="row">
              <div class="col l12 offset-l2 s12">
                <h5 class="white-text">Links</h5>
                <ul>
                  <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/">Instagram</a></li>
                  <li><a class="grey-text text-lighten-3" href="https://www.facebook.com/">Facebook</a></li>
                </ul>
              </div>
          </div>
          <!--Copyright-->
          <div class="footer-copyright">
            <div class="container">
            © 2017 Copyright Canarsie Eats
            </div>
          </div>
        </footer>
        <script>
             $(document).ready(function(){
                  $('.carousel').carousel();
             }); 
             $('.carousel.carousel-slider').carousel({fullWidth: true});
        </script>
        <!--Authorization-->
        <script>
            function SignInWithGoogle(){
                var googleAuthProvider = new firebase.auth.GoogleAuthProvider
                
                firebase.auth().signInWithPopup(googleAuthProvider)
                .then(function(data){
                    console.log(data)
                })
                .catch(function(error){
                    console.log(error)
                })
            }
        </script>
        <script>
          $(document).ready(function(){
          $('.carousel').carousel({dist:0});
          window.setInterval(function(){$('.carousel').carousel('next')},3000)
           });
        </script>
            </div>
        </div>
    </body>
</html>