#logo{
    height: 100px;
    width: 100px;
}

#plans {
    position: absolute;
    top: 30%;
    left: 45%;
}

#signInButton{
    position: absolute;
    top: 2%;
    left: 88%;
    border-radius: 100%;
    background-color: #fff3e0;
    height: 75px;
}

li{
  margin: 0px 10px 0px 10px;
  float: left;
  color: black;
}

#terms{
    position:absolute;
    left: 5%;
    top: 2%;

}

#featured{
    text-align: center;
}

nav{
    background-color: #8bc34a;
    height: 100px;
}

#page-footer{
    background-color: #8bc34a;
    height: 100px;
}

