#logo{
    height: 100px;
    width: 100px;
}

#plans {
    position: absolute;
    top: 53%;
    left: 47%;
    height: 75px;
    width: 80px;
    border-radius: 100%;
    background-color: #fff3e0;
}

#signInButton{
    position: absolute;
    left: 92%;
    top: 2%;
    border-radius: 100%;
    background-color: #fff3e0;
    height: 75px;
}

#signInButton2{
    position: absolute;
    left: 84%;
    top: 2%;
    border-radius: 100%;
    background-color: #fff3e0;
    height: 75px;
    width: 87.4px;
}


li{
  margin: 0px 10px 0px 10px;
  float: left;
  color: black;
}

#terms{
    position:absolute;
    left: 7%;
    top: 2%;
    margin: 10px;
}

#featured{
    text-align: center;
}

nav{
    background-color: #8bc34a;
    height: 100px;
}

.page-footer{
    background-color: #8bc34a;
}

.footer-copyright{
    background-color: #8bc34a;
}

#ourStory{
    font-size: 25px;
}

#recipes{
    font-size: 25px;
}

#pricing{
    font-size: 25px;
}

#contactUs{
    font-size: 25px;
}

#Vegetarian-Recipes{
    font-size: 20px;
}

#Special-Allergy-Recipes{
    font-size: 20px;
}

#Large-family-Recipes {
    font-size: 20px;
}

#motto{
    font-size: 40px;
    width: 400px;
    height: 300px;
    position: absolute;
    top: 20%;
    left: 35%;
    text-align: center;
}

#card-title{
    font-size: 30px;
}

#featitle{
    padding-top: 50px;
    padding-bottom: 20px;
}

